<!DOCTYPE html>
<html lang="en">

<table style="width: 100%; border-collapse: collapse; border-style: none;" border="0">
    <tbody>
    <tr>
        <td style="width: 60px; text-align: center;"><a href="/theora/">Home</a></td>
        <td style="width: 120px; text-align: center;"><a href="/theora/shengyipan">About Me</a></td>
        <td style="text-align: right;">&nbsp;</td>
    </tr>
    </tbody>
</table>

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

<table style="width: 100%; border-collapse: collapse; height: 620px;" border="0">
    <tbody>
    <tr style="height: 445px;">
        <td style="width: 100%; height: 445px;">
            {% load static %}
            <img src="{% static '/images/me.jpeg' %}" alt="Me" width="640" height="441"/>
        </td>
    </tr>
    <tr style="height: 61px;">
        <td style="width: 100%; height: 61px;">
            <h2>Shengyi Pan</h2>
        </td>
    </tr>
    <tr style="height: 114px;">
        <td style="width: 100%; height: 114px;">
            <p>Father, PhD, Full Stack Software Engineer, Big Data Engineer,&nbsp;Current Amazonian; ex-IBMer,
                ex-Netflix, ex-Tencent.</p>
            <p>I am specialized in building efficient, reliable, scalable software that powers various big data and
                machine learning use cases.</p>
            <p>In my spare time, I enjoy reading, listening to music, running, biking, watching NBA and NFL. I am a
                cryptocurrency miner and insterested in various blockchain applications.</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>